@media screen and (max-width: 1350px) {
    .voltcontainer {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .presale {
        width: 100%;
        border-radius: 15px;
        border: 1px solid #efefef;
    }
    .presale .presale_cont {
        margin: auto;
        border: none;
    }
    .part_line {
        width: calc(100% - 100px);
    }
    .voltsale {
        width: 100%;
        gap: 15px;
        justify-content: center;
    }
    .voltsale_right {
        width: 430px;
    }
}
@media screen and (max-width: 868px){
    .voltsale{
        flex-direction: column;
        align-items: center;
    }
    .backhome {
        display: none;
    }
    .backhomebutotn {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    .addressbutton {
        width: 220px;
    }
}