@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"), url(./components/Image/static/InterDisplay-Regular.woff2) format("woff2");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
.rounded-lg::-webkit-scrollbar-track {
  border-radius: 0.5rem; /* Adjust to match the div's border-radius */
  /* Optional: Add more styles */
}

/* Style the scrollbar thumb */
.rounded-lg::-webkit-scrollbar-thumb {
  border-radius: 0.1rem; /* Adjust to match the div's border-radius */
  background: #a0aec0; /* Optional: Change thumb color */
}